---
interface Props {
  class?: string
}

const { class: className = '', ...rest } = Astro.props

const classes = ['section-divider', className].filter(Boolean).join(' ')
---

<div class={classes} {...rest}></div>
