---
import PortableText from '../PortableText.astro'
import { sectionPaddingClasses } from '../../lib/sections'
import { blockSurfaceClass, blockInlineStyle } from '../../lib/blockStyle'

interface Props {
  section: any
}

const { section } = Astro.props
const { body } = section
const surfaceClass = blockSurfaceClass(section)
const inlineStyle = blockInlineStyle(section)
const paddingClasses = sectionPaddingClasses(section.paddingTop, section.paddingBottom)
---

<section
  class:list={['block-section', surfaceClass, paddingClasses]}
  style={inlineStyle}
>
  {body?.length > 0 && (
    <div class="block-layout rich-text-section">
      <div class="rich-text-prose">
        <PortableText value={body} />
      </div>
    </div>
  )}
</section>
